body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    /* 默认有边距，都要清除 */
    margin: 0;
    padding: 0;
    /*字体设置*/
    font-size: 14px;
    font-family: "Microsoft Yahei",sans-serif;
    color: #ccc;
    /* 去掉列表的原点 */
    list-style: none;
    /* 默认鼠标 */
    cursor: default;
}
 

/*行内块元素*/
input,img{
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: bottom; 
}
 
/*行内元素*/
a,a:active,a:visited{
    /*下划线和颜色*/
    text-decoration: none;
    color: #ccc;

}
 
a:hover{
    color:#333;
    cursor:pointer;
}
 
textarea{
    /* 边框清零 */
    border:none;
    /* 轮廓线清零 */
    outline: none;
    /* 防止文本域被随意拖拽 */
    resize: none;
}
 
i{
    /*文字样式*/
    font-style: normal; 
}
 
table{
    /*边框合并*/
    border-collapse:collapse;
    border-spacing:0;
}
 
 
/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after{
    content:"";
    height: 0;
    line-height: 0;
    display: block;
    visibility: none;
    clear: both;
}
 
.clearfix {
    *zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float:right;
}

.pageComponent{
    float: right;
    padding-top: 10px;
}

.board-general .el-select .el-input__inner,
.board-takeon .el-select .el-input__inner,
.shift .el-select .el-input__inner,
.berthing-cancel .el-select .el-input__inner,
.user .el-select .el-input__inner{
    max-width:178px; 
}

.board-general .el-table--small td, 
.board-general .el-table--small th,
.board-takeon .el-table--small td, 
.board-takeon .el-table--small th,
.shift .el-table--small td, 
.shift .el-table--small th,
.berthing-cancel .el-table--small td, 
.berthing-cancel .el-table--small th,
.complaint-main .el-table--small td, 
.complaint-main .el-table--small th,
.log-find .el-table--small td, 
.log-find .el-table--small th,
.user .el-table--small td, 
.user .el-table--small th,
.add-reply .el-table--small td, 
.add-reply .el-table--small th,
.port-main .el-table--small td, 
.port-main .el-table--small th
{
    padding: 5px 0;
}

.board-general .el-checkbox-group .el-checkbox,
.board-takeon .el-checkbox-group .el-checkbox,
.shift .el-checkbox-group .el-checkbox,
.berthing-cancel .el-checkbox-group .el-checkbox,
.complaint-main .el-checkbox-group .el-checkbox,
.log-find .el-checkbox-group .el-checkbox,
.user .el-checkbox-group .el-checkbox,
.add-reply .el-checkbox-group .el-checkbox,
.port-main .el-checkbox-group .el-checkbox
{
    margin-left:0;
    margin-right:15px;
}

.shift .el-dialog__title{
    color:#3284E3
}

.margin-left-20{
    margin-left: 20px;
}
.margin-bottom-20{
    margin-bottom:20px;
}